@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

body {
  padding-top: 64px;
}

html {
  scroll-behavior: smooth;
}